// .card-title {
//   position: absolute;
// }

.cardFish {
  height: 15em;
  width: 14em;
  color: white;
  background-image: url(https://svgsilh.com/svg/1739110.svg);    
  background-size: 100%;
  background-repeat: no-repeat;
  
  
}
  
  .card-title {
    padding-top: 4em;
  }