.cardDeadFish {
  height: 15em;
  width: 14em;
  color: white;
  background-image: url(https://cdn.pixabay.com/photo/2019/03/08/16/26/skeleton-4042672_960_720.png);    
  background-size: 100%;
  background-repeat: no-repeat;
  
}
  
  .card-title {
    padding-top: 4em;
  }